# 1. 세로로 출력하기

In [3]:
number = int(input())

for i in range(1,number+1):
    print(i)

10
1
2
3
4
5
6
7
8
9
10

# 2. 가로로 출력하기

In [1]:
number = int(input())
for i in range(1, number+1):
    print(i, end = ' ')

10
1 2 3 4 5 6 7 8 9 10

# Pro

In [3]:
number = int(input())
for i in range(1, number+1):
    if i == number:
        print(i)
    else:
        print(i, end = ',')

10
1,2,3,4,5,6,7,8,9,10

# 3. 거꾸로 세로로 출력하기

In [5]:
number = int(input())
for i in range(number, -1, -1):
    print(i)

5
5
4
3
2
1
0

# 4. 거꾸로 출력해 보아요 (SWEA #1545)

In [5]:
number = int(input())
for i in range(number, -1, -1):
    if i == 0:
        print(i)
    else:
        print(i, end = ' ')

5
5 4 3 2 1 0

# 5. N줄 덧셈 (SWEA #2025)

In [8]:
number = int(input())

sum = 0

for i in range(number+1):
    sum+=i
    
print(sum)

10
55

In [7]:
def haley_sum(a_range):
    sum = 0
    for i in range(number+1):
        sum+=i
    print(sum)

In [14]:
number = int(input())

10

In [15]:
my_range = list(range(1, number + 1))
my_range

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
haley_sum(my_range)

55

In [21]:
def haley_sum():
    number = int(input())
    sum = 0
    for i in range(number+1):
        sum+=i
    return sum

In [22]:
answer = haley_sum()
print(answer)

10
55

# 6. 삼각형 출력하기

In [9]:
number = int(input())

for i in range(number):
    print(' '*(number-(i+1))+'*'*(i+1))

7
      *
     **
    ***
   ****
  *****
 ******
*******

# Pro

In [26]:
N = int(input())

for n in range(1, N + 1):
    for m in range(N - n, -1, -1):
        print(' ', end = '')
    print('*'*n)

7
       *
      **
     ***
    ****
   *****
  ******
 *******

# 7. 중간값 찾기 (SWEA #2063 변형)

In [ ]:
numbers = [
    85, 72, 38, 80, 69, 65, 68, 96, 22, 49, 67,
    51, 61, 63, 87, 66, 24, 80, 83, 71, 60, 64,
    52, 90, 60, 49, 31, 23, 99, 94, 11, 25, 24,
]
def count(list):
    c = 0
    for i in numbers:
        c+=1
    return c

def order(list):
    length = count(list)
    for i in range(1, length):
        change = list[i]
        k = i
        while change < list[k-1]:
            k -= 1

        temp = list[i]
        list[i] = list[k]
        list[k] = temp

for i in range(count(numbers)):
    order(numbers)
    
print(numbers[count(numbers)//2])